<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- CDN FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>BoolZapp</title>
</head>
<body>

    <div id="root">
        <div class="background w-100">
            <div class="container">
                <div class="navbar">
                    <div class="user w-100">
                        <div class="user-left">
                            <img src="img/avatar_2.jpg" alt="">
                            <span>Lorenzo Baccini</span>
                        </div>
                        <div class="user-right">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notification w-100">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="bell-text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="search w-100">
                        <button><i class="fas fa-search"></i></button>
                        <input type="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div class="list w-100">
                        <ul>
                            <li v-for="(contact, index) in contacts" @click="chooseChat(index)" :class="(index == userIndex) ? 'active' : null">
                                <img :src="getImage(contact)" alt="Immagine contatto">
                                <span>{{contact.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main">
                    <div class="contact-access w-100">
                        <div class="left-side">
                            <img :src="getImage(contacts[userIndex])" alt="">
                            <div class="text-access">
                                <p>{{ contacts[userIndex].name }}</p>
                                <p>Ultimo accesso alle</p>
                            </div>
                        </div>
                        <div class="right-side">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="text-space w-100">
                        <div :class="(text.status == 'sent') ? 'sent' : 'received'" v-for="(text) in contacts[userIndex].messages">
                            {{text.message}} <p>{{text.date}}</p>
                        </div>
                    </div>
                    <div class="my-message w-100">
                        <div class="emoticon">
                            <i class="far fa-smile"></i>
                        </div>
                        <div class="message">
                            <input type="text" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="vocal">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CDN VUE.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- SCRIPT JS -->
    <script src="js/main.js"></script>
</body>
</html>